.searchContainer {
    margin-bottom: 15px;
}

form .txtLocation {
    margin-right: 10px;
    width: 50%;
}

form .selDistance {
    margin-right: 10px;
    min-width: 20ch;
}

form .btnSubmit {
    color: white;
    background-color: green;
}
